In [67]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [153]:
import matplotlib.pylab as plt
%matplotlib inline

In [143]:
df_auto = pd.read_csv("../data/auto.csv")
df_auto.head(n=10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [144]:
df_auto.shape

(397, 9)

In [145]:
df_auto.info()
df_auto[df_auto['horsepower'] == '?']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
mpg             397 non-null float64
cylinders       397 non-null int64
displacement    397 non-null float64
horsepower      397 non-null object
weight          397 non-null int64
acceleration    397 non-null float64
year            397 non-null int64
origin          397 non-null int64
name            397 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.0+ KB

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i

In [146]:
# dropping rows with empty horsepower values and changing datatype to int
df_auto = df_auto[df_auto['horsepower'] != '?']
df_auto['horsepower'] = df_auto['horsepower'].astype(int)
df_auto.shape

(392, 9)

In [147]:
feature_cols = ['horsepower']
X = df_auto[feature_cols]
y = df_auto.mpg

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=1)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(196, 1)
(196, 1)
(196,)
(196,)

In [148]:
lm = LinearRegression()

In [172]:
feature_cols = ['horsepower']
X = df_auto[feature_cols]
y = df_auto.mpg

# 50% of dataset is Validation or Hold-out data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=5)

lm.fit(X_train, y_train)

lm_predicted = lm.predict(X_test)
mean_absolute_error(y_test, lm_predicted)

4.242056308050447

In [173]:
df_auto['horsepower_2'] = np.power((df_auto['horsepower']),2)

feature_cols = ['horsepower', 'horsepower_2']
X = df_auto[feature_cols]
y = df_auto.mpg

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=5)

lm.fit(X_train, y_train)

lm_predicted = lm.predict(X_test)
mean_absolute_error(y_test, lm_predicted)

3.6832943560945925

In [174]:
df_auto['horsepower_3'] = np.power((df_auto['horsepower']),3)

feature_cols = ['horsepower', 'horsepower_2', 'horsepower_3']
X = df_auto[feature_cols]
y = df_auto.mpg

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=5)

lm.fit(X_train, y_train)

lm_predicted = lm.predict(X_test)
mean_absolute_error(y_test, lm_predicted)

3.6762852003569533

In [175]:
df_auto['horsepower_4'] = np.power((df_auto['horsepower']),4)

feature_cols = ['horsepower', 'horsepower_2', 'horsepower_3', 'horsepower_4']
X = df_auto[feature_cols]
y = df_auto.mpg

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=5)

lm.fit(X_train, y_train)

lm_predicted = lm.predict(X_test)
mean_absolute_error(y_test, lm_predicted)

3.7183956169423222